body {
    font-family: Palatino, serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    background-color: #0b2541a9;
    text-align: left;
    font-family: 'Lucida Sans', sans-serif;
    font-size: large;
    padding: 15px 20px;
    margin: 0;
}

h2 {
    color: #0b2541;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.5em;
    margin-top: 0;
}

p {
    color: #333;
    font-family: 'Palatino', serif;
    font-size: 1em;
}

.navbar {
    background-color: #0b2541;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    margin: 0px;
}

.navbar-title {
    color: white;
    font-size: 1.5em;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
}

.navbar a {
    background-color: #0b2541;
    color: white;
    padding: 30px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar h1 {
    color: #fff;
    text-align: center;
    margin: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.tech-tags span {
  background: #f0f0f0;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.card-left {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 75%;
    margin-right: auto;
    display: flex;      
    gap: 20px; 
    align-items: center;
}

.card-right {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 75%;
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    text-align: end;
    align-items: center;
}

.card-left .card-text,
.card-right .card-text {
    flex: 1; 
}

.card-tall {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: start;
    width: 30%;
    min-height: 400px;
    aspect-ratio: 1/1.25;
    box-sizing: border-box;
    
}

.card-container-tall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.nav-button {
  padding-top: 20px;
}

.card-left img,
.card-right img {
    width: 150px;                  /* Fixed width for images */
    height: auto;                  /* Maintain aspect ratio */
    border-radius: 8px;
    object-fit: cover;             /* Prevent image distortion */
}
